body {
    background-color: #999;
}

main {
    height: calc(100vh - 1em);
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 2.5em 5em auto 3em 1em;
}

/* 上部タイムコードブロック */
#timecode_block {
    background-color: #cde;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;  
}

#timecode {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em;
    vertical-align: middle;
}

/* 上部タイムコード設定ブロック */
#timecode_settings_block {
    background-color: #cef;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.setting_block {
    width: 100%;
    height: 100%;
}

#manual_timecode_offset {
    margin:0.1em;
    width: 3em;
}

/* 左マーカー内容操作ブロック */
#input_controls_block {
    background-color: #fac;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;

    /* 子要素に対する指定 */
    display: grid;
    justify-items: center;
    align-items: center;
  
}
#newMemo {
    background-color: #fff;
    width: 80%;
    margin: 1em;
    border: 1px solid #444
}
#mark {
    width: 50%;
}

/* 右リストブロック */

#list_block {
    background-color: #cfa;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    padding: 1.5em;
}

#list {
    background-color: #fff;
    width: 100%;
    height: 100%;
    border: 1px solid #444;
    padding: 0.4em;
}

.tc {
    margin-right: 1em;
}

.memo {

}

/* 下部保存ボタンブロック */
#save_button_block {
    background-color: #a9f;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;

    /* 子要素に対する指定 */
    display: grid;
    justify-items: right;
}

#save {
    margin: 0.5em
}

/* スニペット（F1〜F5）ショートカットブロック */
#snippets_block {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;

    /* 子要素に対する指定 */
    display: grid;
    justify-items: auto;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.snippet {

}

/* 汎用クラス */
.button {
    color:black;
    border: 1px solid #444;
    padding: 0.3em 0.5em 0.3em 0.5em;
    background-color: #ccc;
    text-decoration: none;
}
.button:hover {
    background-color: #ddd;
}
.button:disabled {
    color:#666;
    background-color: #999;
}

select {
    background-color: #ccc;
    border: 1px solid #444;
    padding: 0.3em 0.5em 0.3em 0.5em;
}

input[type="number"] {
    background-color: #fff;
    border: 1px solid #444;
    padding: 0.3em 0.5em 0.3em 0.5em;
}